# Data Wrangling test

In this notebook, a data wrangling approach has been taken to process and integrate two types of biological data: RNA sequencing data and serum protein data, along with associated clinical information about patients. 

The initial steps involved reshaping and cleaning each dataset separately, ensuring that they were in a format conducive to analysis. This included standardizing measurement units, harmonizing column names, and appending relevant clinical details to each record. Following this, the two distinct datasets were merged into one comprehensive dataset, providing a unified view that combines information from RNA sequencing with protein data from serum samples.

# 1 - Import libraries

In [1]:
import pandas as pd

In [4]:
data = pd.read_excel('TechnicalTest-DataWrangling-2.xlsx',sheet_name = None)

# 2 - Formating Serum protein data

The code block below performs a series of data wrangling operations on a DataFrame named **Serum**, which is a subset of a larger dataset focused on **Serum Protein data**. 

The initial step involves reshaping this DataFrame into a long format using the melt function. This transformation takes the 'Serum IL-6 (g/L)' and 'Serum IL-6 Receptor (mg/L)' columns and converts them into rows. 

In the newly transformed DataFrame, two new columns are created: 'Measurement', which holds the type of measurement (either 'IL-6' or 'IL-6 Receptor'), and 'Result', which stores the corresponding measurement values. The code then proceeds to extract and refine these measurement types and units. It assigns proper gene symbols ('IL-6' or 'IL6R' for 'IL-6 Receptor') and standardizes the result units (converting 'IL6R' results from mg/L to g/L for uniformity).

Additionally, the 'Material type' column is added and set to 'SERUM' for all rows, indicating the type of material from which the measurements were taken. The 'Measurement' column is dropped as its information is now captured in other columns, leading to a cleaner and more concise DataFrame structure.

Finally, the DataFrame is stored in a new variable, 'Serum_clean'

In [21]:
Serum = data['Serum Protein data']

# Melt the DataFrame to long format
df_long = Serum.melt(id_vars=['Patient', 'Sample'], 
                  value_vars=['Serum IL-6 (g/L)', 'Serum IL-6 Receptor (mg/L)'],
                  var_name='Measurement', value_name='Result')


# Extract Gene Symbol and Result Units
df_long['Gene_symbol'] = df_long['Measurement'].apply(lambda x: 'IL-6' if 'IL-6 (g/L)' in x else 'IL-6 Receptor')
df_long['Result_Units'] = df_long['Measurement'].apply(lambda x: x.split(' ')[-1].strip('()'))
# Update the 'Gene_symbol' column
df_long['Gene_symbol'] = df_long['Gene_symbol'].replace({'IL-6 Receptor': 'IL6R'})


# Set the Material type as 'SERUM'
df_long['Material type'] = 'SERUM'

# Drop the 'Measurement' column and rearrange the columns
df_long = df_long.drop('Measurement', axis=1)
df_long = df_long[['Patient', 'Sample', 'Material type', 'Gene_symbol', 'Result', 'Result_Units']]

# Convert 'IL6R' results from mg/L to g/L
df_long.loc[df_long['Gene_symbol'] == 'IL6R', 'Result'] = df_long['Result'].apply(pd.to_numeric, errors='coerce') * 0.001
# Update the 'Result_Units' for 'IL6R' to 'g/L'
df_long.loc[df_long['Gene_symbol'] == 'IL6R', 'Result_Units'] = 'g/L'

# Display the transformed DataFrame
Serum_clean = df_long.copy()

In [31]:
Serum_clean.head()

   Patient    Sample Material type Gene_symbol Result Result_Units
0     1001  S-CRC1-A         SERUM        IL-6   73.7          g/L
1     1001  S-CRC1-B         SERUM        IL-6   67.7          g/L
2     1001  S-CRC1-C         SERUM        IL-6   71.3          g/L
3     1002  S-CRC2-A         SERUM        IL-6    QNS          g/L
4     1002  S-CRC2-B         SERUM        IL-6   33.1          g/L

# 3 - Formatting RNA-seq data

The code block below processes RNA sequencing data, initially restructuring it into a long format for ease of analysis. This transformation results in each row representing a specific gene's expression level in a particular sample. Additional details like measurement units and material type are appended to enhance clarity and consistency. The processed RNA data is then merged with tissue sample metadata, enriching the dataset with contextual information like patient numbers and sample types. To ensure uniformity in terminology, sample type descriptions are standardized through a mapping dictionary, aligning terms like 'Normal', 'Liver Tumor', and 'Metastic Lung' to 'NORMAL', 'PRIMARY', and 'METASTATIC', respectively.

In [65]:
RNA = data['RNA-seq (RPKM)']

RNA_clean = RNA.melt(id_vars='GeneID', var_name='Sample_ID', value_name='Result')
RNA_clean['Result_Units'] = 'RPKM'
RNA_clean['Material_type'] = 'RNA'
RNA_clean.rename(columns = {'GeneID':'Gene_Symbol'},inplace = True)

# Merging this data with Tissue Sample Metadata
Tiss_metadata = data['Tissue Sample Metadata']
Tiss_metadata = Tiss_metadata[['Patient  Number','Sample','Sample type']]

RNA_clean_metadata = pd.merge(RNA_clean, Tiss_metadata, left_on = 'Sample_ID', right_on = 'Sample')

# Replace values in the 'Sample' column

replacements = {
    'Normal': 'NORMAL',
    'Liver Tumor': 'PRIMARY',
    'Metastic Lung': 'METASTATIC'
}

# Using a loop to replace each key in the dictionary with its corresponding value
for key, value in replacements.items():
    RNA_clean_metadata['Sample type'] = RNA_clean_metadata['Sample type'].str.replace(key, value)

RNA_clean_metadata.rename(columns = {'Sample type':'Sample_General_Pathology'},inplace = True)

In [66]:
RNA_clean_metadata.head()

,Gene_Symbol,Sample_ID,Result,Result_Units,Material_type,Patient Number,Sample,Sample_General_Pathology
0,ICAM1,CRC1N,4.662774,RPKM,RNA,1001,CRC1N,NORMAL
1,IL6,CRC1N,0.000000,RPKM,RNA,1001,CRC1N,NORMAL
2,IL6R,CRC1N,12.153740,RPKM,RNA,1001,CRC1N,NORMAL
3,VCAM1,CRC1N,4.596351,RPKM,RNA,1001,CRC1N,NORMAL
4,SELE,CRC1N,0.077086,RPKM,RNA,1001,CRC1N,NORMAL

# 4 - Merge data with Patient clinical data

The code block below involves the integration and standardization of **RNA** and **serum** datasets with **patient clinical data**, followed by formatting and cleaning operations to prepare the datasets for analysis.

**Merge RNA and Serum Data with Clinical Data:**
The RNA dataset (RNA_clean_metadata) is merged with data['Patient_clinical_data'] based on the 'Patient Number' field. Similarly, the serum dataset (Serum_clean) is merged with the same clinical data. This integration enriches both datasets with additional clinical context for each patient, creating comprehensive datasets (RNA_full and Serum_full).

**Rename Columns and Create Unique Identifiers:**
In both merged datasets, the column names are standardized (e.g., renaming 'Patient Number' to 'Patient_ID'). This standardization aids in data consistency and readability.
A new column, 'Unique_Patient_ID', is created by concatenating the 'Study_ID' and 'Patient_ID', providing a unique identifier for each patient across the datasets.

**Standardize Sex Descriptions:**
Both datasets have the 'Sex' column standardized, replacing abbreviations ('M' and 'F') with full descriptions ('MALE' and 'FEMALE'). This is achieved using a dictionary (replacements) and a loop that replaces each abbreviation with its corresponding full word. This step improves the clarity of the data.

**Handle Duplicates and Finalize Data Structure:**
Any duplicated columns in the RNA_full dataset are identified and dropped to avoid redundancy and potential errors during analysis.
For the serum dataset, the columns are explicitly selected and reordered to ensure a clean and structured format. The final selection of columns includes identifiers, demographic information, and key measurement data.

## 4.1 - RNA-seq

In [112]:
RNA_full = pd.merge(RNA_clean_metadata, data['Patient_clinical_data'], on = 'Patient  Number')
# rename Patient Number column
RNA_full.rename(columns = {'Patient  Number':'Patient_ID', 'Sample' : 'Sample_ID'},inplace = True)
# Creating variable Unique_Patient_ID
RNA_full['Unique_Patient_ID'] = RNA_full['Study_ID'] + '_' + RNA_full['Patient_ID'].astype(str)
# Changing the entries for the column sex
replacements = {
    'M': 'MALE',
    'F': 'FEMALE'
}
# Using a loop to replace each key in the dictionary with its corresponding value
for key, value in replacements.items():
    RNA_full['Sex'] = RNA_full['Sex'].str.replace(key, value)

# Drop the duplicated column in RNA_full DataFrame
RNA_full = RNA_full.loc[:, ~RNA_full.columns.duplicated()]
RNA_full = RNA_full[['Study_ID','Patient_ID','Unique_Patient_ID','Sex','Age','Sample_ID','Sample_General_Pathology','Material_type','Gene_Symbol','Result','Result_Units']].copy()

## 4.2 - Serum data

In [115]:
Serum_full = pd.merge(Serum_clean, data['Patient_clinical_data'], left_on = 'Patient', right_on = 'Patient  Number')
# rename Patient column
Serum_full.rename(columns = {'Patient':'Patient_ID', 'Sample' : 'Sample_ID','Material type':'Material_type','Gene_symbol' : 'Gene_Symbol'},inplace = True)
# Creating variable Unique_Patient_ID
Serum_full['Unique_Patient_ID'] = Serum_full['Study_ID'] + '_' + Serum_full['Patient_ID'].astype(str)
# Changing the entries for the column sex
replacements = {
    'M': 'MALE',
    'F': 'FEMALE'
}
# Using a loop to replace each key in the dictionary with its corresponding value
for key, value in replacements.items():
    Serum_full['Sex'] = Serum_full['Sex'].str.replace(key, value)

Serum_full = Serum_full[['Study_ID','Patient_ID','Unique_Patient_ID','Sex','Age','Sample_ID','Material_type','Gene_Symbol','Result','Result_Units']].copy()

# 5 - Concatenating both dataframes

This code block effectively consolidates two distinct datasets, RNA_full and Serum_full, into a single comprehensive DataFrame. It achieves this by first resetting the indices of both DataFrames to ensure a smooth and error-free concatenation. Following this, the two datasets are merged into one unified DataFrame along the rows, creating a rich dataset that combines the detailed molecular data from both RNA and serum samples with their corresponding clinical data. Additionally, the code introduces a new 'Status' column initialized with missing values, leaving room for future updates or categorization based on upcoming analyses or criteria.

In [120]:
# Assuming RNA_full and Serum_full are your DataFrames
RNA_full_reset = RNA_full.reset_index(drop=True)
Serum_full_reset = Serum_full.reset_index(drop=True)

# Concatenate the DataFrames
final_df = pd.concat([RNA_full_reset, Serum_full_reset], axis=0) 
final_df['Status'] = pd.NA

# 6 - Write output

Export the dataframe as a .csv file

In [125]:
final_df.sort_values(by='Gene_Symbol')

,Study_ID,Patient_ID,Unique_Patient_ID,Sex,Age,Sample_ID,Sample_General_Pathology,Material_type,Gene_Symbol,Result,Result_Units,Status
0,RO4532A,1001,RO4532A_1001,MALE,41.673240,CRC1N,NORMAL,RNA,ICAM1,4.662774,RPKM,NaN
85,RO4532A,2310,RO4532A_2310,MALE,62.747454,CRC10M,METASTATIC,RNA,ICAM1,2.482575,RPKM,NaN
95,RO4532A,2310,RO4532A_2310,MALE,62.747454,CRC10T,PRIMARY,RNA,ICAM1,10.449776,RPKM,NaN
80,RO4532A,1508,RO4532A_1508,MALE,77.947824,CRC8T,PRIMARY,RNA,ICAM1,6.433474,RPKM,NaN
75,RO4532A,1508,RO4532A_1508,MALE,77.947824,CRC8N,NORMAL,RNA,ICAM1,8.496029,RPKM,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
38,RO4532A,1003,RO4532A_1003,FEMALE,51.000000,CRC3T,PRIMARY,RNA,VCAM1,7.77177,RPKM,NaN
53,RO4532A,1004,RO4532A_1004,FEMALE,66.229214,CRC4T,PRIMARY,RNA,VCAM1,8.829485,RPKM,NaN
43,RO4532A,1003,RO4532A_1003,FEMALE,51.000000,CRC3M,METASTATIC,RNA,VCAM1,3.18751,RPKM,NaN
18,RO4532A,1002,RO4532A_1002,MALE,53.200569,CRC2N,NORMAL,RNA,VCAM1,4.827985,RPKM,NaN
73,RO4532A,1105,RO4532A_1105,MALE,53.304328,CRC5M,METASTATIC,RNA,VCAM1,4.299935,RPKM,NaN

In [128]:
final_df.to_csv('DataWrangling_test_result.csv')